@model IEnumerable<bfnexchange.Models.InPlayMatches>
@{
    var lstEventTypes = Model.Select(item => new { item.EventTypeName }).Distinct().ToArray();



    <ul id="eventtypes">
        @foreach (var eventtypeitem in lstEventTypes)
        {
            <li data-value="@(eventtypeitem.EventTypeName)" data-id="@(eventtypeitem.EventTypeName.Replace(" ",""))">
                <input type="checkbox" id="eventypeitem@(eventtypeitem.EventTypeName.Replace(" ",""))" title="" value="@eventtypeitem.EventTypeName.Replace(" ","")" />
                <label><input type="checkbox" id="eventypeitem@(eventtypeitem.EventTypeName.Replace(" ",""))" value="@eventtypeitem.EventTypeName.Replace(" ","")" /><span></span></label>
                <label for="eventypeitem@(eventtypeitem.EventTypeName.Replace(" ",""))">

                    @eventtypeitem.EventTypeName
                </label>
                <ul id="competition@(@eventtypeitem.EventTypeName.Replace(" ",""))">
                    @{
                        var lstCompetitions = Model.Where(item => item.EventTypeName == eventtypeitem.EventTypeName).Select(item => new { item.CompetitionName }).Distinct().ToArray();
                    }
                    @foreach (var competitionitem in lstCompetitions)
                {
                        <li data-value="@(competitionitem.CompetitionName)" data-id="@(competitionitem.CompetitionName.Replace(" ",""))">
                            <input type="checkbox" id="competitionitem@(competitionitem.CompetitionName.Replace(" ",""))" value="@(competitionitem.CompetitionName.Replace(" ",""))" />
                            <label><input type="checkbox" id="competitionitem@(competitionitem.CompetitionName.Replace(" ",""))" value="@(competitionitem.CompetitionName.Replace(" ",""))" /><span></span></label>
                            <label for="competitionitem@(competitionitem.CompetitionName.Replace(" ",""))">@competitionitem.CompetitionName</label>

                            <ul id="Events@(competitionitem.CompetitionName.Replace(" ",""))">
                                @{var lstEvents = Model.Where(item => item.CompetitionName == competitionitem.CompetitionName).Select(item => new { item.EventName }).Distinct().ToArray();
                                }
                                @foreach (var eventitem in lstEvents)
                                {
                                    if (!(eventitem.EventName.Contains("Line v") || eventitem.EventName.Contains("Lines v")))
                                    {
                                        <li data-value="@(eventitem.EventName)" data-id="@(eventitem.EventName.Replace(" ", ""))">
                                            <input type="checkbox" id="eventitem@(eventitem.EventName.Replace(" ", ""))" value="@(eventitem.EventName.Replace(" ", ""))" />
                                            <label><input type="checkbox" id="eventitem@(eventitem.EventName.Replace(" ", ""))" value="@(eventitem.EventName.Replace(" ", ""))" /><span></span></label>
                                            <label for="eventitem@(eventitem.EventName.Replace(" ", ""))">@(eventitem.EventName)</label>

                                            <ul id="MarketCatalogue@(eventitem.EventName.Replace(" ", ""))">
                                                @{  var lstMarketCatalogues = Model.Where(item => item.EventName == eventitem.EventName).Select(item => new { item.MarketCatalogueID, item.MarketCatalogueName, item.Runners, item.SheetName }).Distinct().ToArray();
                                                }
                                                @foreach (var marketcatalogueitem in lstMarketCatalogues)
                                            {
                                            <li data-value="@(marketcatalogueitem.MarketCatalogueName)" data-id="@(marketcatalogueitem.MarketCatalogueID)" data-sheetname="@(marketcatalogueitem.SheetName)">
                                                <input type="checkbox" id="marketcatalogueitem@(marketcatalogueitem.MarketCatalogueID)" value="@(marketcatalogueitem.MarketCatalogueID)" />
                                                <label><input type="checkbox" id="marketcatalogueitem@(marketcatalogueitem.MarketCatalogueID)" value="@(marketcatalogueitem.MarketCatalogueID)" /><span></span></label>
                                                <label class="lastlevelspan" for="marketcatalogueitem@(marketcatalogueitem.MarketCatalogueID)">@marketcatalogueitem.MarketCatalogueName</label>
                                                <ul id="selectionitemsfor@(marketcatalogueitem.MarketCatalogueID)" style="display:none">
                                                    @foreach (var runner in marketcatalogueitem.Runners)
                                                        {
                                                        <li data-value="@runner.SelectionID">@runner.SelectionName</li>

                                                        }
                                                </ul>
                                            </li>
                                            }
                                            </ul>
                                        </li>
                                                        }
                                                    }

                            </ul>

                        </li>
                                                    }
                </ul>
            </li>
                                                    }




    </ul>
}






