@model IEnumerable<bfnexchange.Models.LiabalitybyMarket>

@foreach (var item in Model)
{



<li>

	@if (LoggedinUserDetail.GetUserTypeID() == 3)
	{

		<a class="active fifthlevellink" onclick="lastLevelBreadcrumb('@item.MarketBookID.ToString()')">

			}





			@item.MarketBookName <br />


			@item.Liabality
		</a>

	}

	else
	{

		<a class="active fifthlevellink" onclick="lastLevelBreadcrumb('@item.MarketBookID.ToString()')" style="background-color:rgb(29, 155, 240) !important">

			





			@item.MarketBookName <br />


			@item.Liabality
		</a>
	


	}



</li>




	
}

