@model IEnumerable<bfnexchange.Models.UserBetsforAgent>
@{
    List<bfnexchange.Models.UserBetsforAgent>
        lstMatchedBets = Model.Where(a => a.isMatched == true).ToList();
lstMatchedBets = lstMatchedBets.OrderByDescending(item => item.ID).ToList();
    List<bfnexchange.Models.UserBetsforAgent>
        lstUnMatchedBets = Model.Where(a => a.isMatched == false).ToList();
lstUnMatchedBets = lstUnMatchedBets.OrderByDescending(item => item.ID).ToList();
    <div class="user-betsagents-wrapper">
        <h4>Bets</h4>

        @*@{string totamount = lstMatchedBets.Sum(item1 => Convert.ToDecimal(item1.Liabality)).ToString("F2");*@
        <input type="hidden" id="lbltotLiabality" value="@ViewData["liabality"]">
        <input type="hidden" id="lblallLiabality" value="@ViewData["totliabality"]">
        <div class="unmatched-bets">
            <div class="matched-unmatched-heading">

                <label>@lstUnMatchedBets.Count Un-Matched Bets</label>
               
            </div>
            @if (lstUnMatchedBets.Count > 0)
            {
                <div class="bets-header">
                    <div class="selection">
                        <label>Selection</label>
                    </div>
                    <div class="Odd">
                        <label>Odd</label>
                    </div>
                    <div class="Amount">
                        <label>Amount</label>
                    </div>
                    <div class="customername">
                        <label>Customer</label>
                    </div>
                </div>
                foreach (var item in lstUnMatchedBets)
                {
                    if (item.BetType == "lay")
                    {
                        <div class="bets-items back" >
                            <div class="selection">
                                <label>@item.SelectionName</label>
                            </div>
                            <div class="Odd">
                                <label>@item.UserOdd</label>
                            </div>
                            <div class="Amount">
                                <label >@item.Amount</label>
                            </div>
                            <div class="customername">
                                <label>@item.Name</label>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="bets-items lay" >
                            <div class="selection">
                                <label>@item.SelectionName</label>
                            </div>
                            <div class="Odd">
                                <label>@item.UserOdd</label>
                            </div>
                            <div class="Amount">
                                <label >@item.Amount</label>
                            </div>
                            <div class="customername">
                                <label>@item.Name</label>
                            </div>
                        </div>
                    }
                }
            }

        </div>

        <div class="matched-bets">
            <div class="matched-unmatched-heading">
                <label>@lstMatchedBets.Count Matched Bets</label>
				<input type="button" id="btnShowAllmatchedBets" value="View All" class="btn-default" />
				
            </div>
            @if (lstMatchedBets.Count > 0)
            {


                <div class="bets-header">
                    <div class="selection">
                        <label>Selection</label>
                    </div>
                    <div class="Odd">
                        <label>Odd</label>
                    </div>
                    <div class="Amount">
                        <label>Amount</label>
                    </div>
                    <div class="customername">
                        <label>Customer</label>
                    </div>
                </div>
                foreach (var item in lstMatchedBets)
                {

                    if (item.BetType == "lay")
                    {
                        <div class="bets-items back" >
                            <div class="selection">
                                <label>@item.SelectionName</label>
                            </div>
                            <div class="Odd">
                                <label>@item.UserOdd</label>
                            </div>
                            <div class="Amount">
                                <label >@item.Amount</label>
                            </div>
                            <div class="customername">
                                <label>@item.Name</label>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="bets-items lay" >
                            <div class="selection">
                                <label>@item.SelectionName</label>
                            </div>
                            <div class="Odd">
                                <label>@item.UserOdd</label>
                            </div>
                            <div class="Amount">
                                <label >@item.Amount</label>
                            </div>
                            <div class="customername">
                                <label>@item.Name</label>
                            </div>
                        </div>
                    }

                }
            }

        </div>




    </div>
    <script type="text/javascript">
        $(document).ready(function () {
		
		 $("#btnShowAllmatchedBets").click(function(){
 $.ajax({
                    url: '/UserBet/UserBetsAll',
                    type: 'GET',

                    async: true,
                    complete: function () {
               

                    },
                    success: function (data) {

                        $("#completedmatcedbetscontent").html(data);
                        $("#myModalCompletedMatchedBets").modal('show');
                       



                    }
                });
               
            });
		
		
		

        
            if($("#AccountBalanceShow").val() != undefined){
                var currentliablity = "Current Liabality: " + $("#lbltotLiabality").val();

                var Totliablity = "Total Liabality: " + $("#lblallLiabality").val();

                var currentbalance = $("#AccountBalanceShow").val().trim().split(":");
                var newbalance = parseInt(currentbalance[1]) + parseInt($("#lblallLiabality").val());
                $("#CurrentUserBalance").html("Balance: " + newbalance.toString());

                // var currentliablity = "Current Liabality: " 
                $("#CurrentUserLiabality").html(currentliablity);
                $("#TotalLiabality").html(Totliablity);
            }



        });
    </script>
} 


       
