<!DOCTYPE html>

<html>
<head>


	@*<script src="https://hlsjs.video-dev.org/dist/hls.js"></script>*@

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="T1go86hIkqhlDJkvtSr127YiNCQ6PaaF1DF3CcBHlyI" />
	<script src="//wurfl.io/wurfl.js"></script>

	<title>Global Trader</title>
	<link rel="icon" href="~/Content/Images/favicon.ico">
	@Styles.Render("~/Content/css")
	@*@Scripts.Render("~/bundles/modernizr")*@
	@*@Scripts.Render("~/bundles/jquery")*@

	<script src='@Scripts.Url("~/bundles/jquery")'></script>



	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>


		#myBtn {
			display: none;
			position: fixed;
			bottom: 20px;
			right: 30px;
			z-index: 99;
			font-size: 25px;
			border: none;
			outline: none;
			color: white;
			cursor: pointer;
			width: 54px;
			padding: 13px;
			border-radius: 50px;
		}

			#myBtn:hover {
				background-color: #00a190;
			}
	</style>
</head>




<body>


	@*<center>
			<h1>Hls.js demo - basic usage</h1>
			<video height="600" id="video" controls></video>
		</center>*@


	@RenderBody()


	@*<div class="container body-content">





			<div class="modalpopuploader">
				<div class="centerdiv">
					<img alt="" src="../Content/Images/d1502f57-5f4f-46ef-a39a-4092a4-unscreen.gif" style="width:100%; height:100%" />


				</div>
			</div>


		</div>*@

	@if (LoggedinUserDetail.GetUserTypeID() == 3)
	{
		<button onclick="topFunction()" id="myBtn" title="Go to top" style="background-color: #075e54;"> <i class="fa fa-angle-double-up"></i> </button>
	}
	else
	{
		<button onclick="topFunction()" id="myBtn" title="Go to top" style="background-color: #1D9BF0 ;"> <i class="fa fa-angle-double-up"></i> </button>
	}



	<script>
		// Get the button
		let mybutton = document.getElementById("myBtn");

		// When the user scrolls down 20px from the top of the document, show the button
		window.onscroll = function () { scrollFunction() };

		function scrollFunction() {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				mybutton.style.display = "block";
			} else {
				mybutton.style.display = "none";
			}
		}

		// When the user clicks on the button, scroll to the top of the document
		function topFunction() {
			document.body.scrollTop = 0;
			document.documentElement.scrollTop = 0;
		}
	</script>


	<script src='@Scripts.Url("~/bundles/jquery")'></script>
	<script src='@Scripts.Url("~/bundles/bootstrap")'></script>

	@*@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")*@

	@*@RenderSection("scripts", required: false)*@

	@*<link href="~/Content/bootstrap-select.css" rel="stylesheet" />*@
	<script src="~/Scripts/bootstrap-select.js"></script>
	<link href="~/Content/Styles.css" rel="stylesheet" />

	@*<script src="/Scripts/jquery.validate.js" type="text/javascript"></script>
		<script src="/Scripts/jquery.validate.unobtrusive.js" type="text/javascript"></script>*@
	<script src="~/Scripts/moment.js"></script>
	<link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
	<script src="~/Scripts/bootstrap-datetimepicker.js"></script>


	<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	@*<link href="//fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,700" rel="stylesheet" type="text/css">*@
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />

	<!-- Slick slider(noscript) -->
	@*<link rel='stylesheet' href='https://cdn.rawgit.com/kenwheeler/slick/master/slick/slick.css' />
		<link rel='stylesheet' href='https://cdn.rawgit.com/kenwheeler/slick/master/slick/slick-theme.css' />
		<script src='https://cdn.rawgit.com/kenwheeler/slick/master/slick/slick.min.js'></script>*@
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" rel="stylesheet" />
	<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" rel="stylesheet" />

	<link href="~/Content/Sidebar.css" rel="stylesheet" />

	<script type="text/javascript">
		function ShowLoader() {
			$(".modalpopuploader").show();
		}
		function HideLoader() {
			$(".modalpopuploader").hide();
		}








	</script>

</body>





</html>
