@model IEnumerable<bfnexchange.Models.UserBetsForAdmin>
@{
    List<bfnexchange.Models.UserBetsForAdmin>
        lstMatchedBets = Model.Where(a => a.isMatched == true).ToList();

    List<bfnexchange.Models.UserBetsForAdmin>
        lstUnMatchedBets = Model.Where(a => a.isMatched == false).ToList();

    <div class="user-betsadmin-wrapper">
        <h4 style="font-size:12px;font-weight:500">Bets</h4>

        @*@{string totamount = lstMatchedBets.Sum(item1 => Convert.ToDecimal(item1.Liabality)).ToString("F2");*@
        <input type="hidden" id="lbltotLiabality" value="@ViewData["liabality"]">
        <input type="hidden" id="lblallLiabality" value="@ViewData["totliabality"]">
        <div class="unmatched-bets">
            <div class="matched-unmatched-heading">

                <label>@lstUnMatchedBets.Count Un-Matched Bets</label>

            </div>
            @if (lstUnMatchedBets.Count > 0)
            {
                <div class="bets-header">
                    <div class="selection">
                        <label>Selection</label>
                    </div>
                    <div class="Odd">
                        <label>Odd</label>
                    </div>
                    <div class="Amount">
                        <label >Amount</label>
                    </div>
                    <div class="customername">
                        <label>Customer</label>
                    </div>
                    <div class="dealername">
                        <label>Dealer</label>
                    </div>
                </div>
                foreach (var item in lstUnMatchedBets)
                {
                    if (item.BetType == "lay")
                    {
                        <div class="bets-items back">
                            <div class="selection">
                                <label>@item.SelectionName</label>
                            </div>
                            <div class="Odd">
                                <label>@item.UserOdd</label>
                            </div>
                            <div class="Amount">
                                <label>@item.Amount</label>
                            </div>
                            <div class="customername">
                                <label>@item.CustomerName</label>
                            </div>
                            <div class="dealername">
                                <label>@item.DealerName</label>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="bets-items lay">
                            <div class="selection">
                                <label>@item.SelectionName</label>
                            </div>
                            <div class="Odd">
                                <label>@item.UserOdd</label>
                            </div>
                            <div class="Amount">
                                <label>@item.Amount</label>
                            </div>
                            <div class="customername">
                                <label>@item.CustomerName</label>
                            </div>
                            <div class="dealername">
                                <label>@item.DealerName</label>
                            </div>
                        </div>
                    }
                }
            }

        </div>

        <div class="matched-bets">
            <div class="matched-unmatched-heading">
                <label>@lstMatchedBets.Count Matched Bets</label>
            </div>
            @if (lstMatchedBets.Count > 0)
            {


                <div class="bets-header">
                    <div class="selection">
                        <label style="background-color:#030317">Selection</label>
                    </div>
                    <div class="Odd">
                        <label  style="background-color:#030317">Odd</label>
                    </div>
                    <div class="Amount">
                        <label  style="background-color:#030317">Amount</label>
                    </div>
                    <div class="customername">
                        <label  style="background-color:#030317">Customer</label>
                    </div>
                    <div class="dealername">
                        <label  style="background-color:#030317">Dealer</label>
                    </div>
                </div>
                foreach (var item in lstMatchedBets)
                {

                    if (item.BetType == "lay")
                    {
                        <div class="bets-items back">
                            <div class="selection">
                                <label>@item.SelectionName</label>
                            </div>
                            <div class="Odd">
                                <label>@item.UserOdd</label>
                            </div>
                            <div class="Amount">
                                <label>@item.Amount</label>
                            </div>
                            <div class="customername">
                                <label>@item.CustomerName</label>
                            </div>
                            <div class="dealername">
                                <label>@item.DealerName</label>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="bets-items lay">
                            <div class="selection">
                                <label>@item.SelectionName</label>
                            </div>
                            <div class="Odd">
                                <label>@item.UserOdd</label>
                            </div>
                            <div class="Amount">
                                <label>@item.Amount</label>
                            </div>
                            <div class="customername">
                                <label>@item.CustomerName</label>
                            </div>
                            <div class="dealername">
                                <label>@item.DealerName</label>
                            </div>
                        </div>
                    }

                }
            }

        </div>




    </div>
    <script type="text/javascript">
        $(document).ready(function () {


            if($("#AccountBalanceShow").val() != undefined){
                var currentliablity = "Current Liabality: " + $("#lbltotLiabality").val();

                var currentbalance = $("#AccountBalanceShow").val().trim().split(":");
                var newbalance = parseInt(currentbalance[1]) + parseInt($("#lbltotLiabality").val());
                $("#CurrentUserBalance").html("Balance: " + newbalance.toString());

                // var currentliablity = "Current Liabality: "
                $("#CurrentUserLiabality").html(currentliablity);
            }



        });
    </script>
} 