@model bfnexchange.Services.BFBallabyBallSummary

<div>
    <h4>BFBallabyBallSummary</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eventTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eventId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eventId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentSet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentSet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.currentDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currentDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matchType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matchType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matchStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matchStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
