@model bfnexchange.HelperClasses.DefaultPageModel





<head>
	<style>

		.slick-prev {
			left: -6px !important;
		}

		.slick-next {
			right: 13px !important;
		}

			.slick-prev:before, .slick-next:before {
				color: red;
			}
	</style>
</head>
<div class="defaultpage">

	<div class="col-md-12 no-padding row" style="text-align:center;margin-bottom:0px; margin-left:1px;">

		<div class="single-item mainslider">
			<div>
				<label class="lblslider">Comming Soon E Gaming...</label>
			</div>
			<div>
				@*<img class="sliderimg"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfhrqVBL-0hEtWOj5N9Da6Nh23igvGt_1kKA&usqp=CAU" />*@
				<label class="lblslider">Comming Soon E Gaming...</label>
			</div>
			<div>
				<label class="lblslider">Comming Soon E Gaming...</label>
			</div>
			<div>
				<label class="lblslider">Comming Soon E Gaming...</label>
			</div>
			<div>
				<label class="lblslider">Comming Soon E Gaming...</label>
			</div>
			<div>
				<label class="lblslider">Comming Soon E Gaming...</label>
			</div>
		</div>
	</div>


	<div class="col-md-12 no-padding">
		<div class="col-md-12 no-padding">

			@if (LoggedinUserDetail.GetUserTypeID() == 3)
			{
				<div class=" headingdivagent">
					<span class="headingcaption">
						<strong>Sport Highlights</strong>
					</span>
				</div>
			}

			else

			{<div class="headingdiv">
					<span class="headingcaption">
						<strong>Sport Highlights</strong>
					</span>
				</div>
			}

			<div class="sporthighlightsuldiv">
				<ul class="inplaymatchheading">
					@{
						var line = Model.AllMarkets.GroupBy(info => info.CategoryName).Select(group => new
						{
							Metric = group.Key,
							Count = group.Count()
						});



						List<string> eventtypes = Model.AllMarkets.Select(x => x.CategoryName).Distinct().ToList();
						foreach (var item in eventtypes)
						{

							<li role="presentation">
								@if (item == "Cricket")
								{
									<a onclick="setactiveinplaycategory('@(item.Trim())')" class="inplaymatchheadinglink ipshead" id="inplaymatchheading@(item.Trim())">
										<i><img src="~/Content/Images/cric.svg" width="30" height="30" /></i>
										@item  (@line.Select(x => x.Count).FirstOrDefault())
									</a>
								}
								@if (item == "Horse Racing")
								{
									<a onclick="setactiveinplaycategory('Horse')" class="inplaymatchheadinglink ipshead" id="inplaymatchheadingHorse">
										<i><img src="~/Content/Images/2132.svg" width="30" height="30" /></i>
										Horse (@line.Select(x => x.Count).Skip(3).Take(1).FirstOrDefault())
									</a>
								}
								@if (item == "Greyhound Racing")
								{
									<a onclick="setactiveinplaycategory('Greyhound')" class="inplaymatchheadinglink ipshead" id="inplaymatchheadingGreyhound">
										<i><img src="~/Content/Images/gre.svg" width="30" height="30" /></i>
										Greyhound (@line.Select(x => x.Count).Skip(4).Take(1).FirstOrDefault())
									</a>
								}
								@if (item == "Soccer")
								{
									<a onclick="setactiveinplaycategory('@(item.Trim())')" class="inplaymatchheadinglink ipshead" id="inplaymatchheading@(item.Trim())">
										<i><img src="~/Content/Images/soc.svg" width="30" height="30" /></i>

										@item (@line.Select(x => x.Count).Skip(1).Take(1).FirstOrDefault())
									</a>
								}
								@if (item == "Tennis")
								{
									<a onclick="setactiveinplaycategory('@(item.Trim())')" class="inplaymatchheadinglink ipshead" id="inplaymatchheading@(item.Trim())">
										<i><img src="~/Content/Images/tenn.svg" width="30" height="30" /></i>

										@item (@line.Select(x => x.Count).Skip(2).Take(1).FirstOrDefault())
									</a>
								}
							</li>
						}
					}
				</ul>


				<div class="col-md-12 no-padding">

					<div style="background:#075e54; color:white; border-top:1px solid white;">
						<table>
							<thead>
								<tr style="background:#075e54; color:white">
									<th class="En" style="width:45%">Event Name</th>
									<th class="od" style="width:20%">Open Date</th>
									<th class="two2">1</th>
									<th class="two2">X</th>
									<th class="two2">2</th>
								</tr>
							</thead>
						</table>
					</div>

					@{
						foreach (var item in eventtypes)
						{
							var data = item;
							if (data == "Horse Racing")
							{
								data = "Horse";
							}
							if (data == "Greyhound Racing")
							{
								data = "Greyhound";
							}

							<div class="inplaydatabycategory" id="inplaydatafor@(data.Trim())">
								@{
									List<bfnexchange.HelperClasses.AllMarketsInPlay> lstMatchesbytype = Model.AllMarkets.Where(x => x.CategoryName == item).ToList();
									foreach (var matchitem in lstMatchesbytype)
									{
								<div class="inplaydatarow">
									<i class="fa fa-share-alt" aria-hidden="true" style="float: right;margin-top: 14px;margin-right: 10px;"></i>
									@if (item == "Horse Racing" || item == "Greyhound Racing")
									{
										<div class="inplaymatchname">
											<i class="fa fa-caret-right" aria-hidden="true" style="    float: left;    margin-top: 1px; color:black; font-size: 25px;"></i>
											@{
												string imageUrl = Url.Content("~/Content/images/" + matchitem.CountryCode.ToString() + ".svg");
											}
											<img src="@imageUrl" alt="Country Flag" style="height:35px;width:35px;float:left" />
											<a onclick="lastLevelBreadcrumb('@matchitem.MarketBookID.ToString()')">@matchitem.EventName - @matchitem.MarketBookName</a>
										</div>
									}
									else
									{
										if (matchitem.MarketBookName == "Winner" && matchitem.CategoryName == "Cricket")
										{
											<div class="inplaymatchname">
												<i class="fa fa-caret-right" aria-hidden="true" style="float: left;margin-top: 1px; color:green; font-size: 25px;"></i>
												<a style="color:green;" onclick="lastLevelBreadcrumb('@matchitem.MarketBookID.ToString()')"> @matchitem.EventName</a>
											</div>
										}
										else
										{
											if (matchitem.MarketStatus == "In Play")
											{
												<div class="inplaymatchname">
													<i class="fa fa-caret-right" aria-hidden="true" style="    float: left;    margin-top: 1px; color:green; font-size: 25px;"></i>

													<a style="color:green;" onclick="lastLevelBreadcrumb('@matchitem.MarketBookID.ToString()')">@matchitem.Runner1 v @matchitem.Runner2 @*<label class="cool" style=" color:green; animation:blinker 2s linear infinite; "> - IN-PLAY</label>*@</a>
												
													<div class="loveoflives"> LIVE </div>
													@*<img src="~/Content/Images/Live11.png" alt="Live" class="loveoflives" />*@
												
												</div>

												
											}
											else
											{

												if (matchitem.MarketStatus == "Closed" || matchitem.MarketStatus == "suspended")
												{
													<div class="inplaymatchname">
														<i class="fa fa-caret-right" aria-hidden="true" style="float: left;margin-top: 1px; color:red; font-size: 25px;"></i>
														<a style="color:red; " onclick="lastLevelBreadcrumb('@matchitem.MarketBookID.ToString()')">@matchitem.Runner1 v @matchitem.Runner2 @*<label class="cool" style=" color:green; animation:blinker 2s linear infinite; "> - IN-PLAY</label>*@</a>
													</div>
												}
												else
												{

													<div class="inplaymatchname">
														<i class="fa fa-caret-right" aria-hidden="true" style="float: left;margin-top: 1px; color:black; font-size: 25px;"></i>
														<a onclick="lastLevelBreadcrumb('@matchitem.MarketBookID.ToString()')"> @matchitem.Runner1 v @matchitem.Runner2</a>
													</div>
												}
											}
										}
									}


									<div class="inplaytime">
										@matchitem.MarketStartTime
									</div>

									@if (item == "Cricket" || item == "Soccer" || item == "Tennis")

									{



										<div class="inplaymatchbackandlay">
											<div class="inplayrunner1">
												<div class="inplayback">
													<span style="font-size: 22px;font-weight: 800;">@matchitem.Runner1Back</span>
													<br />
													<span style="font-size: 14px;font-weight: 500;">@matchitem.Runner1BackSize</span>
												</div>
												<div class="inplaylay">
													<span style="font-size: 22px;font-weight: 800;">@matchitem.Runner1Lay</span>
													<br />
													<span style="font-size: 14px;font-weight: 500; ">@matchitem.Runner1LaySize </span>
												</div>
											</div>

										</div>
										<div class="inplaymatchbackandlay1">
											<div class="inplayrunner1">
												<div class="inplayback">
													<span style="font-size: 22px;font-weight: 800;">@matchitem.Runner3Back </span>
													<br />
													<span style="font-size: 14px;font-weight: 500; ">@matchitem.Runner3BackSize </span>
												</div>
												<div class="inplaylay">
													<span style="font-size: 22px;font-weight: 800;">@matchitem.Runner3Lay</span>
													<br />
													<span style="font-size: 14px;font-weight: 500; ">@matchitem.Runner3LaySize </span>
												</div>
											</div>
										</div>
										<div class="inplaymatchbackandlay2">
											<div class="inplayrunner1">
												<div class="inplayback">
													<span style="font-size: 22px;font-weight: 800;">@matchitem.Runner2Back </span>
													<br />
													<span style="font-size: 14px;font-weight: 500;">@matchitem.Runner2BackSize </span>
												</div>
												<div class="inplaylay">
													<span style="font-size: 22px;font-weight: 800;">@matchitem.Runner2Lay </span>
													<br />
													<span style="font-size: 14px;font-weight: 500;">	@matchitem.Runner2LaySize</span>
												</div>
											</div>
										</div>
									}
									else
									{
										<div class="moleucule" style="float: right;   margin-right: 10%;" onclick="lastLevelBreadcrumb('@matchitem.MarketBookID.ToString()')">@matchitem.MarketBookID.ToString().Replace("1.2", "")</div>
									}
								</div>
									}
								}
							</div>
						}
					}
				</div>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
	function setactiveinplaycategory(category) {
		$(".inplaymatchheadinglink").removeClass('activelink');
		$(".inplaydatabycategory").hide();
		$("#inplaydatafor" + category).show();
		$("#inplaymatchheading" + category).addClass('activelink');
	}
	$('.slider-for').slick({
		slidesToShow: 1,
		slidesToScroll: 1,
		arrows: false,
		fade: true,
		asNavFor: '.slider-nav'
	});
	$('.slider-nav').slick({
		slidesToShow: 3,
		slidesToScroll: 1,
		asNavFor: '.slider-for',
		dots: true,
		centerMode: true,
		focusOnSelect: true
	});

	$(document).ready(function () {
		setactiveinplaycategory('Cricket');
		$('.single-item').slick();
		//$('.single-item').slick();

		//$(".center").slick({
		//	infinite: false,
		//	slidesToShow: 8,
		//	slidesToScroll: 3,
		//	responsive: [
		//		{
		//			breakpoint: 1024,
		//			settings: {
		//				slidesToShow: 3,
		//				slidesToScroll: 3
		//			}
		//		},
		//		{
		//			breakpoint: 600,
		//			settings: {
		//				slidesToShow: 2,
		//				slidesToScroll: 2
		//			}
		//		},
		//		{
		//			breakpoint: 480,
		//			settings: {
		//				slidesToShow: 3,
		//				slidesToScroll: 2
		//			}
		//		}

		//	]
		//});
	});
</script>


