@model IEnumerable<ExternalAPI.TO.CompetitionResult>
  
                    @foreach (var item in Model)
                    {
                        <li data-value="@(item.Competition.Id)">
                            <input type="checkbox" id="competitionitem@(item.Competition.Id)" value="@(item.Competition.Id)"  />
                            <label><input type="checkbox" id="competitionitem@(item.Competition.Id)" value="@(item.Competition.Id)"/><span></span></label>
                            <label for="competitionitem@(item.Competition.Id)" onclick="LoadEvents('@item.Competition.Id')">@item.Competition.Name</label> 
                            

                            
                            <ul id="Events@(item.Competition.Id)" >

                            </ul>
                           
                        </li>

                    }
              
            
       