@using bfnexchange.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Log in";
}

@*<div class="scene">
    <div data-offset="90" class="clouds alert parallex"></div>
</div>*@
<div class="col-6 center">

       
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <div class="logo-img center" >
                    <img class="logo-img" src="~/Content/Images/globaltraderwhite.gif" alt="Global Trader" />
                </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    @*<div class="col-md-12 wrap-input100 " >
                            @Html.TextBoxFor(m => m.Username, new { @class = "input100", @placeholder = "Username" })
                            <span class="focus-input100" data-placeholder="&#xf207;"></span>
                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                        </div>*@

                    <center>
                        <div class="form-group;">

                            <div class="inputWithIcon1 inputIconBg1">
                                <div class=" wrap-input100 validate-input" data-validate="Enter username" style=icon>
                                    @Html.TextBoxFor(m => m.Username, new { @class = "input100", @placeholder = "Username" })
                                    <span class="focus-input100"></span>
                                    <i class="fa fa-user  fa-1.4x fa-border" aria-hidden="true"> </i>
                                    @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-" })
                                </div>
                            </div>
                        </div>


                        <div class="form-group;">

                            <div class="inputWithIcon inputIconBg padding-left-20">
                                <div class="col-md-12 wrap-input100 validate-input" data-validate="Enter password" style=icon>
                                    @Html.PasswordFor(m => m.Password, new { @class = "input100", @placeholder = "password" })
                                    <span class="focus-input100"></span>
                                    <i class="fa fa-key  fa-1x fa-border" aria-hidden="true"> </i>
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-" })
                                </div>
                            </div>
                        </div>



                    </center>




                    <div class="container" style="width:150px; animation:step-start; ">

                        <input type="checkbox" style="color:ActiveBorder; width:20px; margin-left:0px; left:auto" /> <b> <strong>Remember Me</strong> </b>
                    </div>



                    <div class="container" style="width:120px; animation:step-start; padding: 20px 10px 0px 0px ">
                        <div class="button">
                            <input type="submit" id="btnLogin" value="Log in" class="btn btn-default" />

                        </div>
                    </div>




                    <div class="form-group" style="display:none" id="loaderdivnew">
                        <div class="col-md-12">
                            <img src="~/Content/Images/ajax-loader.gif" style="width:100%" />

                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="loginline"></div>
                            <div class="loginor">
                                OR
                            </div>
                        </div>
                    </div>
                    <div class="form-group signuparea">

                        <br>
                        <br>

                        <a href="http://78.110.160.52:6980/publish.htm" title="Get Desktop App"><i class="fa fa-desktop fa-3x fa-border" style="width:65px"></i></a>
                        <a href="https://play.google.com/store/apps/details?id=com.globaltrade&hl=en" title="Get Android App"> <i class="fa fa-android fa-3x greencolor fa-border" style="width:65px"> </i></a>


                    </div>

            }
       
   

    <script type="text/javascript">

                    $(document).ready(function () {
                        $("#Username").focus();
                        $('form').submit(function () {
                            if ($('form').valid()) {
                                $('input[type=submit]', this).attr('disabled', 'disabled');
                                // $("#loaderdivnew").show();
                                //ShowLoader();
                            }
                        });
                        //$("#btnLogin").click(function () {
                        //    ShowLoader();
                        //});
                    });

    </script>


    <footer>

        <img class="logo-img" src="/Content/Images/bfpower.png" alt="Global Trader" style="height:50px; width:75px; color:black" />

    </footer>



</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<style>
    input[type="password"] {
        width: 100%;
        border: 2px solid #aaa;
        border-radius: 4px;
        margin: 8px 0;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition: 0.3s;
    }


    .inputWithIcon input[type="password"] {
        padding-left: 40px;
    }

    .inputWithIcon {
        position: relative;
    }

        .inputWithIcon i {
            position: absolute;
            left: 0;
            top: 8px;
            padding: 9px 8px;
            color: #aaa;
            transition: 0.3s;
        }



        .inputWithIcon.inputIconBg i {
            background-color: #aaa;
            color: #fff;
            padding: 9px 5px;
            border-radius: 4px 0 0 4px;
        }
</style>



<style>
    input[type="text"] {
        width: 100%;
        border: 2px solid #aaa;
        border-radius: 4px;
        margin: 8px 0;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition: 0.3s;
    }



    .inputWithIcon1 input[type="text"] {
        padding-left: 40px;
    }

    .inputWithIcon1 {
        position: relative;
    }

        .inputWithIcon1 i {
            position: absolute;
            left: 0;
            top: 8px;
            padding: 9px 8px;
            color: #aaa;
            transition: 0.3s;
        }



        .inputWithIcon1.inputIconBg1 i {
            background-color: #aaa;
            color: #fff;
            padding: 9px 5px;
            border-radius: 4px 0 0 4px;
        }
</style>




