@model IEnumerable<bfnexchange.Models.BalanceSheet>
@{ 
    List<bfnexchange.Models.BalanceSheet> lstPlusUsers = new List<bfnexchange.Models.BalanceSheet>();
    List<bfnexchange.Models.BalanceSheet> lstMinusUsers = new List<bfnexchange.Models.BalanceSheet>();
    if (Model.Count() > 0)
    {
        lstPlusUsers = Model.Where(item => item.Profit > 0).ToList();
        lstMinusUsers = Model.Where(item => item.Loss < 0).ToList();
    }
}

<div class="col-md-12">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    Plus
                </th>
              
                <th>
                    @Html.DisplayNameFor(model => model.StartingBalance)
                </th>
                <th></th>
            </tr>

            @foreach (var item in lstPlusUsers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td class="ledgerdebit">
                        @Html.DisplayFor(modelItem => item.Profit)
                    </td>
                  
                    <td>
                        @Html.DisplayFor(modelItem => item.StartingBalance)
                    </td>

                </tr>
            }

        </table>
    </div>
    <div class="col-md-6">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                
                <th>
                    Minus
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartingBalance)
                </th>
                <th></th>
            </tr>

            @foreach (var item in lstMinusUsers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                   
                    <td class="ledgercredit">
                        @Html.DisplayFor(modelItem => item.Loss)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartingBalance)
                    </td>

                </tr>
            }

        </table>
    </div>
</div>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
          Plus
        </th>
        <th>
            Minus
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartingBalance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Username)
        </td>
        <td class="ledgerdebit">
            @Html.DisplayFor(modelItem => item.Profit)
        </td>
        <td class="ledgercredit">
            @Html.DisplayFor(modelItem => item.Loss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartingBalance)
        </td>
       
    </tr>
}

</table>*@
