@model IEnumerable<bfnexchange.Models.InPlayMatches>
@{
    var lstEventTypes = Model.Select(item => new { item.EventTypeName }).Distinct().ToArray();



    <ul class="nav dropdown-menu">
        @foreach (var eventtypeitem in lstEventTypes)
        {
            <li class="dropdown-submenu">
               <a>
                   @eventtypeitem.EventTypeName
               </a>
                   
               
                <ul class="nav dropdown-menu">
                    @{
                        var lstCompetitions = Model.Where(item => item.EventTypeName == eventtypeitem.EventTypeName).Select(item => new { item.CompetitionName }).Distinct().ToArray();
                    }
                    @foreach (var competitionitem in lstCompetitions)
                {
                        <li class="dropdown-submenu">
                           <a>
@(competitionitem.CompetitionName)
                           </a>
                            <ul class="dropdown-menu" >
                                @{var lstEvents = Model.Where(item => item.CompetitionName == competitionitem.CompetitionName).Select(item => new { item.EventName }).Distinct().ToArray();
                                }
                                @foreach (var eventitem in lstEvents)
                                {
                                    <li class="dropdown-submenu">
                                       <a>
                                           @(eventitem.EventName)
                                       </a>
                                        <ul class="dropdown-menu">
                                            @{  var lstMarketCatalogues = Model.Where(item => item.EventName == eventitem.EventName).Select(item => new { item.MarketCatalogueID, item.MarketCatalogueName }).Distinct().ToArray();
                                            }
                                            @foreach (var marketcatalogueitem in lstMarketCatalogues)
                                            {
                                                <li class="dropdown-submenu" >
                                                    <a id="marketcatalogueitem@(marketcatalogueitem.MarketCatalogueID.Replace(".",""))" class="active" onclick="lastLevelBreadcrumb('@marketcatalogueitem.MarketCatalogueID.ToString()')">@marketcatalogueitem.MarketCatalogueName</a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                                }

                            </ul>

                        </li>
                                                }
                </ul>
            </li>
                                                }




    </ul>
}







