@model IEnumerable<ExternalAPI.TO.MarketBook>





@{
    foreach (var item in Model)
    {  <input type="hidden" id="marketbookCategory@(item.MarketId.ToString().Replace(".", ""))" value="@item.MainSportsname" />
    <input type="hidden" id="marketbookorignalopendate@(item.MarketId.ToString().Replace(".", ""))" value="@item.OrignalOpenDate" />
        <input type="hidden" id="marketbookname@(item.MarketId.ToString().Replace(".", ""))" value="@item.MarketBookName" />
            <input type="hidden" id="marketbookAllowedBetting@(item.MarketId.ToString().Replace(".", ""))" value="@Convert.ToInt32(item.BettingAllowed).ToString()" />
            <input type="hidden" id="marketbookAllowedBettingOverAll@(item.MarketId.ToString().Replace(".", ""))" value="@Convert.ToInt32(item.BettingAllowedOverAll).ToString()" />
        int valueid = 0;
        <div id="marketbook@(item.MarketId.ToString().Replace(".", ""))"  data-marketid="@item.MarketId">



            <div class="col-md-12 col-sm-12 pull-left no-padding runnerswrapper">
                <div class="col-md-2 col-sm-8 no-padding runnernamediv">
                    <label class="runnersname">
                        Selection
                    </label>



                </div>
                <div class="col-md-1 col-sm-1 no-padding runnerlastpricediv">
                    <label class="runnerslastprice">
                        Price
                    </label>
                </div>
                <div class="col-md-2 col-sm-2 no-padding runnerprofitandlossdiv">
                    <label class="runnersprofitloss">
                        P/L
                    </label>
                </div>
                <div class="col-md-7 col-sm-4 no-padding  runnerbackandlaydiv">
                    <div class="col-md-12 col-sm-12 no-padding">
                        <div class="col-md-6 col-sm-6 no-padding backhead">
                            <div class="col-md-12 col-sm-12 no-padding">
                                <div class="col-md-4 col-sm-4 no-padding">

                                </div>
                                <div class="col-md-4 no-padding">

                                </div>
                                <div class="col-md-4 col-sm-12 no-padding">
                                    <label>Back</label>
                                </div>

                            </div>

                        </div>
                        <div class="col-md-6 col-sm-6 no-padding layhead">
                            <div class="col-md-12 col-sm-12 no-padding">
                                <div class="col-md-4 col-sm-12 no-padding">
                                    <label>Lay</label>
                                </div>
                                <div class="col-md-4 no-padding">

                                </div>
                                <div class="col-md-4 no-padding">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="backgroundimageforSuspended">


            </div>
            @foreach (var runner in item.Runners)
                {
                <div id="selection@(runner.SelectionId.Replace(" ",""))" class="col-md-12 pull-left col-sm-12 no-padding runnerswrapper">

                    <div id="runnernamediv@(runner.SelectionId)" class="col-md-2 col-sm-8 no-padding runnernamediv">
                        <label style="display:none">
                            @runner.SelectionId
                        </label>
                        @if (item.MainSportsname == "Horse Racing" && runner.JockeyName != "Not")
                        {

                        }
                        else
                        {
                            <input type="checkbox" id="chkselection@(runner.SelectionId)" class="checkboxrunnername" onchange="AddRunnersformultiplebets('@runner.SelectionId')" />
                                        <div class="clothnumstalldrawimgempty" id="clothnumstalldrawimg@(runner.SelectionId)" onclick="triggerchangemethod('@runner.SelectionId','@item.MarketId.Replace(".","")')"></div>
                                        <label for="chkselection@(runner.SelectionId)" data-value="@runner.SelectionId" class="runners runnersname" id="lblSelectionName@(runner.SelectionId)">
                                            @runner.RunnerName
                                        </label>
                                        <div class="no-padding runnerprofitandlossdivMobile" style="margin-top:7px !important">
                                            @if (runner.ProfitandLoss >= 0)
                                            {
                                                <label id="lblprofitandloss@(runner.SelectionId)" class="runnersprofitlossgreen">
                                                    @runner.ProfitandLoss
                                                </label>
                                            }
                                            else
                                            {
                                                <label id="lblprofitandloss@(runner.SelectionId)" class="runnersprofitlossred">
                                                    @runner.ProfitandLoss
                                                </label>
                                            }

                                            if (runner.Loss >= 0)
                                            {
                                            <label id="lblloss@(runner.SelectionId)" class="runnersprofitlossgreen">
                                                @runner.Loss
                                            </label>
                                            }
                                            else
                                            {
                                            <label id="lblloss@(runner.SelectionId)" class="runnersprofitlossred">
                                                @runner.Loss
                                            </label>
                                            }



                                        </div>
                        }


                    </div>
                    <div class="col-md-1 no-padding col-sm-1 runnerlastpricediv">
                        <label id="lblrunnerlastprice@(runner.SelectionId)" class="runnerslastprice">
                            @runner.LastPriceTraded
                        </label>

                    </div>
                    <div class="col-md-1 col-sm-1 no-padding runnerprofitandlossdiv">
                        @if (runner.ProfitandLoss >= 0)
                    {
                            <label id="lblprofitandloss@(runner.SelectionId)" class="runnersprofitlossgreen">
                                @runner.ProfitandLoss
                            </label>
                        }
                        else
                        {
                            <label id="lblprofitandloss@(runner.SelectionId)" class="runnersprofitlossred">
                                @runner.ProfitandLoss
                            </label>
                        }
                        @if (item.MarketBookName.Contains("To Be Placed"))
                        {
                            if (runner.Loss >= 0)
                            {
                                <label id="lblloss@(runner.SelectionId)" class="runnersprofitlossgreen">
                                    @runner.Loss
                                </label>
                            }
                            else
                            {
                                <label id="lblloss@(runner.SelectionId)" class="runnersprofitlossred">
                                    @runner.Loss
                                </label>
                            }
                        }


                    </div>
                    <div class="col-md-8 col-sm-4 no-padding priceandsize matchcolors runnerbackandlaydiv">
                        <div class="col-md-12 col-sm-12 no-padding">
                            <div class="col-md-6 col-sm-6 no-padding">

                                @for (int i = 2; i >= 0; i--)
                                {
                                    <div class="col-md-4 col-sm-12 no-padding backitem">
                                        <label id="lblbackprice@(i.ToString() + runner.SelectionId.ToString().Replace(" ",""))" class="selectionprice">
                                        0
                                        </label><br />
                                        <label id="lblbacksize@(i.ToString() + runner.SelectionId.ToString().Replace(" ",""))" class="selectionsize">
0
                                        </label>
                                    </div>
                                   
                                }

                            </div>

                            <div class="col-md-6 col-sm-6 no-padding">
                                @for (int i = 0; i < 3; i++)
                                {
                                    <div class="col-md-4 col-sm-12 no-padding layitem">
                                        <label id="lbllayprice@(i.ToString() + runner.SelectionId.ToString().Replace(" ",""))" class="selectionprice">
                                        0
                                        </label><br />
                                        <label id="lbllaysize@(i.ToString() + runner.SelectionId.ToString().Replace(" ",""))" class="selectionsize">
                                            0
                                        </label>
                                    </div>

                                }
                            </div>

                        </div>
                    </div>

                </div>
                valueid = valueid + 1;
            }
            



        </div>



    }

}




<script type="text/javascript">

    $(document).ready(function () {

        //$.ajax({
        //    url: '/DashBoard/CuttingUsers',
        //    async: false,
        //    type: 'POST',


        //    complete: function () {
        //        $('.selectpicker').selectpicker();


        //        HideLoader();
        //    },
        //    success: function (data) {

        //        $("#allusersCuttingUsers").html(data);

        //        //// $form.html(data);
        //        // $form.removeData('validator');
        //        // $form.removeData('unobtrusiveValidation');
        //        // $.validator.unobtrusive.parse($form);
        //    }
        //});
        $(".runners").each(function () {

            var id = $(this).attr("data-value");
            //LoadRunnername(id);

            if ($("#openedbetslipid").val() == id) {

                SetBackandlayonbetslip(id);
            }

        });

    });

</script>

