@model IEnumerable<bfnexchange.Models.InPlayMatches>
@{
    var lstEventTypes = Model.Select(item => new { item.EventTypeID, item.EventTypeName }).Distinct().ToArray();




    foreach (var eventtypeitem in lstEventTypes)
    {
        <li class="dropdown-submenu mainlimatch" >
            <a class="secondlevellink dropdown-toggle" data-toggle="dropdown">
                @eventtypeitem.EventTypeName

            </a>
            <ul class="nav dropdown-menu submenu">
                @{
                    var lstCompetitions = Model.Where(item => item.EventTypeID == eventtypeitem.EventTypeID).Select(item => new { item.CompetitionID, item.CompetitionName }).Distinct().ToArray();
                }
                @foreach (var competitionitem in lstCompetitions)
                {
                    <li class="dropdown-submenu mainlimatch">
                        <a class="thirdlevellink dropdown-toggle" data-toggle="dropdown">
                            @competitionitem.CompetitionName
                        </a>
                        <ul class="dropdown-menu submenu">
                            @{var lstEvents = Model.Where(item => item.CompetitionID == competitionitem.CompetitionID).Select(item => new { item.EventID, item.EventName }).Distinct().ToArray();
                            }
                            @foreach (var eventitem in lstEvents)
                            {
                                if (!(eventitem.EventName.Contains("Line v") || eventitem.EventName.Contains("Lines v")))
                                {
                                    <li class="dropdown-submenu mainlimatch">
                                        <a class="fourthlevellink dropdown-toggle" data-toggle="dropdown">
                                            @eventitem.EventName
                                        </a>
                                        <ul class="dropdown-menu submenu">
                                            @{  var lstMarketCatalogues = Model.Where(item => item.EventID == eventitem.EventID && item.EventName !="Line v Markets").Select(item => new { item.MarketCatalogueID, item.MarketCatalogueName }).Distinct().ToArray();
                                            }
                                            @foreach (var marketcatalogueitem in lstMarketCatalogues)
                                            {
                                                <li>
                                                    <a class="active fifthlevellink" onclick="lastLevelBreadcrumb('@marketcatalogueitem.MarketCatalogueID.ToString()')"><i class="fa TRUE fa-check-square"></i>@marketcatalogueitem.MarketCatalogueName</a>

                                                </li>
                                            }
                                            @{var linevmaketbyEventID = Model.Where(item => item.AssociateEventID == eventitem.EventID && item.EventName =="Line v Markets").Select(item => new { item.MarketCatalogueID, item.MarketCatalogueName }).Distinct().ToArray();
                                                if (linevmaketbyEventID.Count() > 0)
                                                {
                                                    linevmaketbyEventID.OrderBy(item => item.MarketCatalogueName).ToList();
                                                    <li class="dropdown-submenu mainlimatch">
                                                        <a class="fifthlevellink dropdown-toggle" data-toggle="dropdown">
                                                            Line v Markets
                                                        </a>
                                                        <ul class="dropdown-menu submenu">
                                                            @{  var lstMarketCataloguesFancy = Model.Where(item => item.AssociateEventID == eventitem.EventID && item.EventName =="Line v Markets").Select(item => new { item.MarketCatalogueID, item.MarketCatalogueName }).Distinct().ToArray();
                                                            }
                                                            @foreach (var marketcatalogueitem in lstMarketCataloguesFancy)
                                                            {
                                                                <li>
                                                                    <a class="active fifthlevellink" onclick="lastLevelBreadcrumb('@marketcatalogueitem.MarketCatalogueID.ToString()')"><i class="fa TRUE fa-check-square"></i>@marketcatalogueitem.MarketCatalogueName</a>

                                                                </li>
                                                            }
                                                        </ul>

                                                    </li>
                                                                }
                                            }
                                        </ul>
                                        
                                    </li>
                                                    }

                                                }

                        </ul>

                    </li>
                                            }
            </ul>
        </li>
                                            }





}
<script type="text/javascript">
    $(document).ready(function () {
        $('ul.dropdown-menu [data-toggle=dropdown]').on('click', function (event) {
            event.preventDefault();
            event.stopPropagation();
            $(this).parent().siblings().removeClass('open');
            $(this).parent().toggleClass('open');
        });
        //$(".mainlimatch").click(function () {
        //    $('ul.submenu').not($(this).siblings()).slideUp();
        //    $(this).siblings("ul.submenu").slideToggle();
        //});
        //$(".mainlimatch").click(function () {
            
        //    $(this).find("ul").css("display", "none");
        //    $(this).children().find("ul").first().css("display", "block");
        //});
    })
</script>





