@model bfnexchange.Models.AccessRightsbyUserType

<br/>
<br />
<div id="root">
	<div class="container pt-5">
		<div class="row align-items-stretch">
			<div class="c-dashboardInfo col-lg-3 col-md-6">
				<div class="wrap">
					<h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
						Credit:
					</h4><span class="hind-font caption-12 c-dashboardInfo__count">@LoggedinUserDetail.CurrentAccountBalance</span>
				</div>
			</div>
			<div class="c-dashboardInfo col-lg-3 col-md-6">
				<div class="wrap">
					<h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
						Upline:
					</h4><span class="hind-font caption-12 c-dashboardInfo__count">
	@if (Convert.ToDouble(@ViewBag.NetBalance) > 0)
	{
		@ViewBag.NetBalance
	}
	else
	{
		  @ViewBag.NetBalance
	}
				</span><span class="hind-font caption-12 c-dashboardInfo__subInfo"></span>
				</div>
			</div>
			<div class="c-dashboardInfo col-lg-3 col-md-6">
				<div class="wrap">
					<h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
						Avail Balance:
					</h4><span class="hind-font caption-12 c-dashboardInfo__count">@LoggedinUserDetail.CurrentAvailableBalance</span>
				</div>
			</div>
			<div class="c-dashboardInfo col-lg-3 col-md-6">
				<div class="wrap">
					<h4 class="heading heading5 hind-font medium-font-weight c-dashboardInfo__title">
						Liabality:
					</h4><span class="hind-font caption-12 c-dashboardInfo__count">@ViewBag.CurrentLiabality</span>
				</div>
			</div>
		</div>
	</div>
</div>


@*<div class="col-md-12 no-padding">

	<div class="col-md-3">
		Credit:

		<label>@LoggedinUserDetail.CurrentAccountBalance</label>

	</div>
	<div class="col-md-3">
		Upline:
		@if (Convert.ToDouble(@ViewBag.NetBalance) > 0)
		{
			<label>@ViewBag.NetBalance</label>
		}
		else
		{
			<label style="color:red">@ViewBag.NetBalance</label>
		}
	</div>

	<div class="col-md-3">
		Avail Balance:<label>@LoggedinUserDetail.CurrentAvailableBalance</label>
	</div>
	@if (LoggedinUserDetail.IsCom == true)
	{
		<div class="col-md-4">
			Commission:<label>@ViewBag.commission</label>
		</div>
	}
	<div class="col-md-3">
		Liabality:<label>@ViewBag.CurrentLiabality</label>
	</div>
</div>*@


