@model IEnumerable<bfnexchange.Models.CompletedUserBets>


<div class="matched-bets">
    <div class="matched-unmatched-heading">
                <label class="matchedbetsheading">@Model.First().MarketBookname</label>
        <label class="matchedbetsheading">Winner: @Model.First().Winnername</label>
    </div>
    


        <div class="bets-header">
            <div class="selection" style="width:40% !important; background-color:#075E54; color: white; border-right:1px white solid;" >
                <label>Selection</label>
            </div>
            <div class="Odd"  style="width:30%  !important; background-color:#075E54; color: white;">
                <label>Odd</label>
            </div>
            <div class="Amount"  style="width:30%  !important; background-color:#075E54; color: white;">
                <label>Amount</label>
            </div>
	
        </div>
        @foreach (var item in Model)
        {

            if (item.BetType == "back")
            {
                <div class="bets-items back">
                    <div class="selection" style="width:40%  !important">
                        <label>@item.SelectionName</label>
                    </div>
                    <div class="Odd"  style="width:30%  !important">
                        <label>@item.UserOdd</label>
                    </div>
                    <div class="Amount"  style="width:30%  !important">
                        <label >@item.Amount</label>
                    </div>
                </div>
            }
            else
            {
                <div class="bets-items lay">
                    <div class="selection" style="width:40%  !important">
                        <label>@item.SelectionName</label>
                    </div>
                    <div class="Odd"  style="width:30% !important">
                        <label>@item.UserOdd</label>
                    </div>
                    <div class="Amount"  style="width:30%  !important">
                        <label >@item.Amount</label>
                    </div>
                </div>
            }

        }
    

</div>

