@model IEnumerable<ExternalAPI.TO.MarketBook>

@{


<div id="maindiv">


	<div class="marketstatusrulesandmarkettype" id="markettype">
		<label class="rule2 active1">

<span style="float:left">Kali Market</span>
<span style="float:right;margin-right: 20px;"><i class="far fa-star love"></i></span>

		</label>


		@*	<label class="marketrules" onclick="showmarketrules('','','1')">Rules</label>*@
	</div>

	@*<div id="TotalMatchedBackandlay" class="col-md-12 col-sm-12 pull-left no-padding runnerswrapper runnerwrapperhead">
		<div class="col-md-2 col-sm-8 no-padding runnernamediv ">
			<label class="markettotalmatched">
				
			</label>
		</div>

		<div id="lastpricediv" class="col-md-1 col-sm-1 no-padding runnerlastpricediv">

			<label class="runnerstotalmatched" style="font-size:9px">
			
			</label>
		</div>


		<div class="col-md-7 col-sm-4 no-padding  runnerbackandlaydiv">
			<div class="col-md-12 col-sm-12 no-padding">
				<div class="col-md-6 col-sm-12 no-padding backhead">
					<div id="BackDiv" class="col-md-12 col-sm-12 no-padding">
						<div class="col-md-4 col-sm-4 no-padding">
							<label></label>
						</div>
						<div class="col-md-4 no-padding">
							<label></label>
						</div>
						<div class="col-md-4 col-sm-12 no-padding">
							<label>Back</label>
							<i class="backcircle fa fa-arrow-circle-down"></i>
						</div>

					</div>

				</div>
				<div class="col-md-6 col-sm-12 no-padding layhead">
					<div id="LayDiv" class="col-md-12 col-sm-12 no-padding">
						<div class="col-md-4 col-sm-12 no-padding">
							<label>Lay</label>
							<i class="laycircle fa fa-arrow-circle-down"></i>
						</div>
						<div class="col-md-4 no-padding">
							<label></label>
						</div>
						<div class="col-md-4 no-padding">
							<label></label>
						</div>
					</div>
				</div>
			</div>
		</div>



	</div>*@
</div>
    foreach (var item in Model)
    {  
		<input type="hidden" id="marketbookCategory@(item.MarketId.ToString().Replace(".", ""))" value="@item.MainSportsname" />
         <input type="hidden" id="marketbookorignalopendate@(item.MarketId.ToString().Replace(".", ""))" value="@item.OrignalOpenDate" />
            <input type="hidden" id="marketbookname@(item.MarketId.ToString().Replace(".", ""))" value="@item.MarketBookName" />
            <input type="hidden" id="marketbookstatus@(item.MarketId.ToString().Replace(".", ""))" value="@item.MarketStatusstr" />
                    <input type="hidden" id="marketbookAllowedBetting@(item.MarketId.ToString().Replace(".", ""))" value="@Convert.ToInt32(item.BettingAllowed).ToString()" />
                    <input type="hidden" id="marketbookAllowedBettingOverAll@(item.MarketId.ToString().Replace(".", ""))" value="@Convert.ToInt32(item.BettingAllowedOverAll).ToString()" />
                    <input type="hidden" id="marketbookrunners@(item.MarketId.ToString().Replace(".", ""))" value="@item.Runners.Count.ToString()" />
                    <input type="hidden" id="marketbookTotalMatched@(item.MarketId.ToString().Replace(".", ""))" value="@item.TotalMatched.ToString()" />
      
           <div id="maindata" class="hideit">
            <div id="marketbook@(item.MarketId.ToString().Replace(".", ""))" class="marketbook2" data-marketid="@item.MarketId">

                @foreach (var runner in item.Runners)
                {

                <div id="selection@(runner.SelectionId.Replace(" ", ""))" class="col-md-12 pull-left col-sm-12 no-padding runnerswrapper" >

                   	<div  id="runnernamediv@(runner.SelectionId)" class="col-md-2 col-sm-8 no-padding runnernamediv " style="display:none">
							<label style="display:none">
								@runner.SelectionId
							</label>
						</div>
                                    
                    <div id="nameProfitandlossdivf">
					 
					
                        <div id="runnernamediv" class="no-padding runnernamedivf runnerswrapper">
						  
                            <label for="chkselection@(runner.SelectionId)" data-value="@runner.SelectionId" class="runners runnersname" id="lblSelectionName@(runner.SelectionId)" style="float: left;">
                                @item.MarketBookName
                            </label>
							
							@*<div class="bookbutton">
                            Book
                        </div>*@
							
                            <div class="runnerprofitandlossdivMobile" style="width:0px; display:inline-block">
                                @if (runner.ProfitandLoss >= 0)
                                {
                                    <label id="lblprofitandloss@(runner.SelectionId)" class="runnersprofitlossgreenFancy ">
                                        @runner.ProfitandLoss
                                    </label>
                                }
                                else
                                {
                                    <label id="lblprofitandloss@(runner.SelectionId)" class="runnersprofitlossred">
                                        @runner.ProfitandLoss
                                    </label>
                                }

                                @if (runner.Loss >= 0)
                                {
                                    <label id="lblloss@(runner.SelectionId)" class="runnersprofitlossgreenFancy ">
                                        @runner.Loss
                                    </label>
                                }
                                else
                                {
                                    <label id="lblloss@(runner.SelectionId)" class="runnersprofitlossred">
                                        @runner.Loss
                                    </label>
                                }

                             

                            </div>
                           
                        </div>
                    </div>
                     <div id="lastpricebackandlaydivf">
							@*<div id="lastpricedivval" class="no-padding runnerlastpricediv">
								<label id="lblrunnerlastprice@(runner.SelectionId)" class="runnerslastprice">
									@runner.LastPriceTraded
								</label>
								<label id="lblrunnertotalmatched@(runner.SelectionId)" class="runnertotalmatch">
									@runner.TotalMatched
								</label>

							</div>*@         
						     

							<div id="backandlaydivMainIN" class="no-padding priceandsize matchcolors runnerbackandlaydivf">
								<div id="backandlaydivsecond" class="no-padding">
									<div id="backandlaydivthird" class="no-padding">

										@*<div class="col-md-4 col-sm-12 no-padding backitem">
											<label class="selectionprice">

											</label><br />
											<label id="lblbacksize" class="selectionsize">

											</label>

										</div>

										<div class="col-md-4 col-sm-12 no-padding backitem">
											<label class="selectionprice">

											</label><br />

											<label id="lblbacksize" class="selectionsize">

											</label>
										</div>*@

										<div class="col-md-4 col-sm-12 no-padding backitemf">
											<label style="font-size: 21px;   font-weight:bold" id="lblbackprice@(runner.SelectionId.ToString().Replace(" ", ""))" class="selectionprice" onclick="showbetslip('@runner.SelectionId.Replace(" ", "")','back',' @runner.ExchangePrices.AvailableToBack[0].Price','2000','0','@item.MarketId','@runner.RunnerName','@runner.ExchangePrices.AvailableToBack[0].Size','8','@item.MarketId')">
												@runner.ExchangePrices.AvailableToBack[0].Price
											</label>
											<label id="lblbacksize@(runner.SelectionId.ToString().Replace(" ", ""))" class="selectionsize" onclick="showbetslip('@runner.SelectionId.Replace(" ", "")','back','@runner.ExchangePrices.AvailableToBack[0].Price','2000','0','@item.MarketId','@item.MarketBookName','@runner.ExchangePrices.AvailableToBack[0].Size','8','@item.MarketId')">
												@runner.ExchangePrices.AvailableToBack[0].Size
											</label>

										</div>



									</div>

									<div id="ExchangePricesmain" class="no-padding">
										<div id="layitemmain" class="no-padding layitemf">

											<label style="font-size: 21px;" id="lbllayprice@(runner.SelectionId.ToString().Replace(" ", ""))" class="selectionprice" onclick="showbetslip('@runner.SelectionId.Replace(" ", "")','lay',' @runner.ExchangePrices.AvailableToLay[0].Price.','2000','0','@item.MarketId','@item.MarketBookName','@runner.ExchangePrices.AvailableToLay[0].Size','8','@item.MarketId')">
												@runner.ExchangePrices.AvailableToLay[0].Price
											</label>
											<label id="lbllaysize@(runner.SelectionId.ToString().Replace(" ", ""))" class="selectionsize" onclick="showbetslip('@runner.SelectionId.Replace(" ", "")','lay','@runner.ExchangePrices.AvailableToLay[0].Price','2000','0','@item.MarketId','@item.MarketBookName','@runner.ExchangePrices.AvailableToLay[0].Size','8','@item.MarketId')">
												@runner.ExchangePrices.AvailableToLay[0].Size
											</label>
										</div>

										@*<div id="layitemmain" class="no-padding layitem">

											<label class="selectionprice">

											</label><br />
											<label class="selectionsize">

											</label>
										</div>

										<div id="layitemmain" class="no-padding layitem">

											<label class="selectionprice">

											</label><br />
											<label class="selectionsize">

											</label>
										</div>*@

									</div>
								</div>
							</div>
                  </div>

                </div>
                   


                }




            </div>

        </div>

    }

}

<script type="text/javascript">

      $("#closebutton").click(function () {

        $("#markettype").hide();
        $("#backandlay").hide();
        $("#maindata").hide();
        $(".hideit").hide();
        $("#fancyclose").show();
        $("#fancyopen").hide();
    });

    $("#undobutton").click(function () {
        $("#markettype").show();
        $("#backandlay").show();
        $("#maindata").show();
        $(".hideit").show();
        $("#fancyclose").hide();
        $("#fancyopen").show();
    });

    $(document).ready(function () {

        if ($("#maindata").is(":visible")) {
            $("#fancymarketbook").show();
         
            
        } else {
            $("#fancymarketbook").hide();
        }
        function showcompleteduserbetsFacny(marketbookID) {
            if (marketbookID != "") {
                $.ajax({
                    type: "GET",
                    url: "/DashBoard/showcompleteduserbetsFancy",

                    data: {  'marektbookID': marketbookID },
                    success: function (result) {

                        $("#completedmatcedbetscontentFancy").html(result);
                        $("#myModalCompletedMatchedBetsFacny").modal('show');

                    }

                });
            }

        }





        //$.ajax({
        //    url: '/DashBoard/CuttingUsers',
        //    async: false,
        //    type: 'POST',


        //    complete: function () {
        //        $('.selectpicker').selectpicker();


        //        HideLoader();
        //    },
        //    success: function (data) {

        //        $("#allusersCuttingUsers").html(data);

        //        //// $form.html(data);
        //        // $form.removeData('validator');
        //        // $form.removeData('unobtrusiveValidation');
        //        // $.validator.unobtrusive.parse($form);
        //    }
        //});
        $(".runners").each(function () {

            var id = $(this).attr("data-value");
            //LoadRunnername(id);

            if ($("#openedbetslipid").val() == id) {

                SetBackandlayonbetslip(id);
            }

        });

    });

</script>


