
<div id="betslipnewview" class="modal">
    <h1>farhat</h1>
    <div class="modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 id="betslipheading" class="modal-title">You are going to </h4>
        </div>
        <div id="betslipcontent" class="modal-content">
            <div id="betslip">
                <div class="col-md-12 col-sm-12 no-padding betslipselections">
                    <div class="col-md-6 col-sm-6 betslipselectionname">
                        <label>Selection</label>
                        <label id="betslipselection"></label>
                    </div>
                    <div class="col-md-3 col-sm-3 no-padding betslipodd">
                        <label>Back</label>
                        <label id="betslipback">

                        </label>
                        <label id="betslipsize" style="display:none">

                        </label>
                    </div>
                    <div class="col-md-3 col-sm-3 no-padding betslipodd">
                        <label>Lay</label>
                        <label id="betsliplay">

                        </label>

                    </div>
                </div>

                <div class="col-md-12 col-sm-12 no-padding amountarea">
                    <div class="col-md-6 no-padding">
                        <div class="amountbutton">
                            <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.SimpleBtn1.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.SimpleBtn1.Replace("+","")" />
                            <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.SimpleBtn2.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.SimpleBtn2.Replace("+","")" />
                            <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.SimpleBtn3.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.SimpleBtn3.Replace("+","")" />
                            <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.SimpleBtn4.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.SimpleBtn4.Replace("+","")" />
                            <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.SimpleBtn5.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.SimpleBtn5.Replace("+","")" />
                            <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.SimpleBtn6.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.SimpleBtn6.Replace("+","")" />
                            <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.SimpleBtn7.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.SimpleBtn7.Replace("+","")" />
                            <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.SimpleBtn8.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.SimpleBtn8.Replace("+","")" />
                            <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.SimpleBtn9.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.SimpleBtn9.Replace("+","")" />
                            @*<input type="button" class="btn btn-default" value="500000" data-value="500000" />
                                <input type="button" class="btn btn-default" value="+25000" data-value="25000" />
                                <input type="button" class="btn btn-default" value="+50000" data-value="50000" />
                                <input type="button" class="btn btn-default" value="+100000" data-value="100000" />
                                <input type="button" class="btn btn-default" value="+200000" data-value="200000" />
                                <input type="button" class="btn btn-default" value="+300000" data-value="300000" />
                                <input type="button" class="btn btn-default" value="+500000" data-value="500000" />
                                <input type="button" class="btn btn-default" value="+10 Lakh" data-value="1000000" />
                                <input type="button" class="btn btn-default" value="+20 Lakh" data-value="2000000" />
                                <input type="button" class="btn btn-default" value="+50 Lakh" data-value="5000000" />*@
                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12 no-padding">
                            <div class="amounts">
                                <label>Odd</label>
                                <div class="upanddown">

                                    <input id="betslipodd" onmouseup="calculateamounts()" onkeyup="calculateamounts()" type="text" />
                                    <div class="plusminus">
                                        <span class="glyphicon glyphicon-chevron-up" onclick="increment();"></span>
                                        <span class="glyphicon glyphicon-chevron-down" onclick="decrement();"></span>

                                    </div>

                                </div>

                                <label id="betslipoddlabel"></label>
                            </div>
                            <div class="amounts">
                                <label>Amount</label>
                                <input type="number" onmouseup="calculateamounts()" min="500" max="5000000000" step="1" id="betslipamount" onkeyup="calculateamounts()" />
                                <label id="betslipamountlabel"></label>
                            </div>
                            <div class="betslipbuttonssubmit">

                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Close" id="btnBetslipClose" />
                                <input type="button" class="btn btn-default" value="Reset" onclick="resetamount()" id="btnBetslipReset" />
                                <input type="button" class="btn btn-default" value="Submit" id="btnBetslipsubmit" />
                            </div>
                        </div>
                        <div class="col-md-12 loadingimg no-padding">
                            <img src="~/Content/Images/default2.gif" />
                        </div>

                    </div>
                </div>
            </div>


        </div>

    </div>

</div>
<div id='myModalBetslipmultiple' class='modal'>
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 id="betslipheadingmultiple" class="modal-title">You are going to place </h4>
        </div>
        <div id="betslipcontentmultiple" class="modal-content">
            <div id="betslipmultiple">
                <div class="col-md-12 no-padding betslipselections">
                    <div class="col-md-6 no-padding">

                        <div class="col-md-12 no-padding">
                            <div class="col-md-6 betslipselectionname">
                                <label>Selection</label>

                            </div>
                            <div class="col-md-3 no-padding betslipodd">
                                <label>Back</label>






                            </div>
                            <div class="col-md-3 no-padding betslipodd">
                                <label>Lay</label>


                            </div>
                        </div>
                        <div id="betslipmultiplerunners" class="col-md-12 no-padding">

                        </div>
                    </div>
                    <div class="col-md-6 no-padding">
                        <div class="col-md-12 no-padding amountarea">
                            <div class="col-md-12 no-padding">
                                <div class="amountbuttonmultiple">
                                    <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.MutipleBtn1.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.MutipleBtn1.Replace("+","")" />
                                    <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.MutipleBtn2.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.MutipleBtn2.Replace("+","")" />
                                    <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.MutipleBtn3.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.MutipleBtn3.Replace("+","")" />
                                    <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.MutipleBtn4.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.MutipleBtn4.Replace("+","")" />
                                    <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.MutipleBtn5.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.MutipleBtn5.Replace("+","")" />
                                    <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.MutipleBtn6.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.MutipleBtn6.Replace("+","")" />
                                    <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.MutipleBtn7.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.MutipleBtn7.Replace("+","")" />
                                    <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.MutipleBtn8.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.MutipleBtn8.Replace("+","")" />
                                    <input type="button" class="btn btn-default" value="@(LoggedinUserDetail.FormatNumber(Convert.ToUInt32( LoggedinUserDetail.objBetSlipKeys.MutipleBtn9.Replace("+",""))))" data-value="@LoggedinUserDetail.objBetSlipKeys.MutipleBtn9.Replace("+","")" />


                                    @*<input type="button" class="btn btn-default" value="2000" data-value="2000" />
                                        <input type="button" class="btn btn-default" value="5000" data-value="5000" />
                                        <input type="button" class="btn btn-default" value="10000" data-value="10000" />
                                        <input type="button" class="btn btn-default" value="20000" data-value="20000" />
                                        <input type="button" class="btn btn-default" value="25000" data-value="25000" />
                                        <input type="button" class="btn btn-default" value="50000" data-value="50000" />
                                        <input type="button" class="btn btn-default" value="100000" data-value="100000" />
                                        <input type="button" class="btn btn-default" value="200000" data-value="200000" />
                                        <input type="button" class="btn btn-default" value="500000" data-value="500000" />
                                        <input type="button" class="btn btn-default" value="+25000" data-value="25000" />
                                        <input type="button" class="btn btn-default" value="+50000" data-value="50000" />
                                        <input type="button" class="btn btn-default" value="+100000" data-value="100000" />
                                        <input type="button" class="btn btn-default" value="+200000" data-value="200000" />
                                        <input type="button" class="btn btn-default" value="+300000" data-value="300000" />
                                        <input type="button" class="btn btn-default" value="+500000" data-value="500000" />
                                        <input type="button" class="btn btn-default" value="+10 Lakh" data-value="1000000" />
                                        <input type="button" class="btn btn-default" value="+20 Lakh" data-value="2000000" />
                                        <input type="button" class="btn btn-default" value="+50 Lakh" data-value="5000000" />*@
                                </div>
                            </div>
                            <div class="col-md-12 no-padding ">
                                <div class="col-md-12 no-padding">
                                    <div class="amounts" style="margin-top:10px">

                                        <label id="betslipbackmultiple"></label>
                                        <label id="betsliplaymultiple"></label>

                                    </div>

                                    <div class="amounts">
                                        <label>Amount</label>
                                        <input type="number" onmouseup="calculateamountsmultiple()" min="2000" max="5000000000" step="1" id="betslipamountmultiple" onkeyup="calculateamountsmultiple()" />

                                    </div>
                                    <div class="amounts">
                                        <label id="betslipoddlabelmultiple"></label>
                                        <label id="betslipamountlabelmultiple"></label>
                                    </div>
                                    <div class="amounts">

                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Close" id="btnBetslipClosemultiple" />
                                        <input type="button" class="btn btn-default" value="Reset" onclick="resetamountmultiple()" id="btnBetslipResetmultiple" />
                                        <input type="button" class="btn btn-default" value="Submit" id="btnBetslipsubmitmultiple" />
                                    </div>
                                </div>
                                <div class="col-md-12 loadingimg no-padding">
                                    <label>Please wait....</label>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>

</div>
<div id='myModalFancy' class='modal'>
    <div class="modal-dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Market Rules</h4>
        </div>
        <div id="rulescontent" class="modal-content">

        </div>
    </div>
</div>

